<div id="navbar">

    <div id="navbar" class="container">
        <div class="navbar-item ">
            <div class="navbar-logo">
                {{ page.navbar_logo }}
            </div>
        </div>
        <div class="navbar-item ">
            <div class="navbar-title">
                {{ page.navbar_branding}}
            </div>
        </div>
        <div class="navbar-item navbar-menu pull-right">
            {{ page.navbar_navigation}}
        </div>

    </div>
</div>

<div id="drawer-overlay"></div>
<div id="drawer">
    {{ page.drawer }}
</div>

<header id="header" role="banner">
    <div id="header-content">
        <div class="margin-box big-title text-align-center">
            <div class="title">
                <h1>Kyle Huynh Photography</h1>
            </div>
            <div class="slogan h3">Avid Photographer and Programmer</div>
            <div class="header-buttons mt-48">
                <a class="btn btn-raised slogan-btn-1" target="_blank" href="#" ><span style="position: relative; z-index: 2;"><span class="services-icons mr-8" data-icon="drupal"></span>My Photos</span><span class="rippleWrap" style="position: absolute; z-index: 1; left: 0px; top: 0px; overflow: hidden; border-radius: 2px; opacity: 1; transition: none 0s ease 0s;"><span class="rippleAnimate" style="position: absolute; left: 0px; top: 0px; width: 0px; height: 0px; border-radius: 50%; transform: scale3d(0, 0, 1); transition: none 0s ease 0s;"></span></span></a>
                <a class="btn btn-raised icon-left slogan-btn-2" data-icon="forward" href="https://blog.kylehuynh.com" ><span>Visit my blog</span><span class="rippleWrap" style="position: absolute; z-index: 1; left: 0px; top: 0px; overflow: hidden; border-radius: 2px; opacity: 1; transition: none 0s ease 0s;"><span class="rippleAnimate" style="position: absolute; left: 0px; top: 0px; width: 0px; height: 0px; border-radius: 50%; transform: scale3d(0, 0, 1); transition: none 0s ease 0s;"></span></span></a>
            </div>
        </div>
    </div>
    <div id="header-bg">
        <div class="block">
            <!--{{ page.banner_photo }}
            {{ page.banner_video }}
            {{ page.banner_iframe }}-->
            <img id="bg-object" src="/sites/photo/files/banner.jpg">
        </div>
    </div>
</header>

{% if page.actions %}
    <div id="actions">
        {{ page.actions }}
    </div>
{% endif %}