{%
  set body_classes = [
    'cus-khphotography','navbar-fixed', 'navbar-transparent','header-bg-object',
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    <!-- admin bar -->
    {{ page_top }}
    
    <!-- page content -->
    {{ page }}
    
    <!-- footer -->
    {{ page_bottom }}
    
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
