<div id="album-photostream" class="list-unstyled justified-gallery clearfix" style="height: auto;">
    {% for nid,photo in photos %}
        <div>
            <!--<a href="{{ photo.field_photo_big_url.value }}" data-sub-html="#caption-{{ photo.id }}">
                <img class="img-responsive thumbnail" src="{{ photo.field_photo_thumb_url.value }}">
            </a>-->
            <a data-pinterest-text="Pin it1" data-tweet-text="share on twitter 1" 
               data-facebook-share-url="{{ photo.field_photopage_url.value }}" 
               data-twitter-share-url="{{ photo.field_photopage_url.value }}" 
               data-googleplus-share-url="{{ photo.field_photopage_url.value }}" 
               data-pinterest-share-url="{{ photo.field_photopage_url.value }}"
               data-download-url="{{ photo.field_photo_org_url.value }}"
               data-sub-html="#caption-{{ photo.id }}"
               href="{{ photo.field_photo_big_url.value }}">
                <img class="img-responsive thumbnail animated-image" src="{{ photo.field_photo_thumb_url.value }}">
            </a>
            <div id="caption-{{ photo.id }}" style="display:none">
                <h4>{{ photo.title.value }}</h4><p>{{ photo.field_photo_description.value }}</p>
            </div>
        </div>

    {% endfor %}
</div>